/* UNIVERSAL/GLOBAL STYLES START */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

*::selection {
    background-color: transparent;
}

html,
body {
    /* overflow-x: hidden; */
    min-height: 100vh;
}

/* UNIVERSAL/GLOBAL STYLES END */





/* HEADER STYLES START */
h1 {
    margin: 1.5rem 0;
}

/* HEADER STYLES END */





/* MAIN STYLES START */
main {
    margin-top: 9rem;
}

form {
    width: 65%;
}

.image {
    width: 200px;
}



.icon {
    cursor: pointer;
    pointer-events: auto !important;
}


#movie-results {
    min-width: 30vw;
    min-height: 50vh;
    margin: 0 auto;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#959799+0,7db9e8+100&1+0,0+100 */
    background: -moz-linear-gradient(top, rgba(149, 151, 153, .35) 0%, rgba(125, 185, 232, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(149, 151, 153, .35) 0%, rgba(125, 185, 232, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(149, 151, 153, .35) 0%, rgba(125, 185, 232, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#959799', endColorstr='#007db9e8', GradientType=0);
    /* IE6-9 */
    /* background-color: rgba(149,151,153,.5); */
}


#book-results {
    min-width: 30vw;
    min-height: 50vh;
    margin: 0 auto;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#959799+0,7db9e8+100&1+0,0+100 */
    background: -moz-linear-gradient(top, rgba(149, 151, 153, .35) 0%, rgba(125, 185, 232, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(149, 151, 153, .35) 0%, rgba(125, 185, 232, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(149, 151, 153, .35) 0%, rgba(125, 185, 232, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#959799', endColorstr='#007db9e8', GradientType=0);
    /* IE6-9 */
    /* background-color: rgba(149,151,153,.5); */
}

.card {
    width: 200px;
    margin: 0 auto;
}

.card-content {
    background-color: rgb(251, 246, 240);
}

#modal-card-content {
    width: 265px;
}

.break-space {
    margin: 15px 0;
}

figure {
    border: solid 2px black;
}

.missing-cover {
    width: 200px;
    height: 250px;
    background-color: grey;
    border: solid 2px black;
    color: rgb(251, 246, 240);
    font-size: x-large;

}

/* MAIN STYLES END */

/* FOOTER STYLES START */
footer {
    position: relative;
}

#modal-trigger {
    position: absolute;
    bottom: -50px;
    left: -50px;
}

/* FOOTER STYLES END */


/* MEDIA QUERIES
@media screen and (max-width: 600px)  {
    #movie-results {
        
    }
} */
