/* UNIVERSAL/GLOBAL STYLES START */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

*::selection {
    background-color: transparent;
}

html, body {
    overflow-x: hidden;
}
/* UNIVERSAL/GLOBAL STYLES END */

/* HEADER STYLES START */
.title:not(:last-child) {
    margin-top: 1.5rem;
}
/* HEADER STYLES END */

/* MAIN STYLES START */
main {
    margin-top: 9rem;
}

form {
    width: 65%;
}
/* MAIN STYLES END */

.missing-cover {
    width: 175px;
    height: 250px;
    background-color: grey;
    border: solid 2px black;
    color: antiquewhite;
    font-size: x-large;
}